<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7f8c61a6-4a18-4a39-92ee-04f86aef6e90/resourcegroups/NUh16/providers/Microsoft.Web/sites/eCademyNUh16PhotoShare</ResourceId>
    <ResourceGroup>NUh16</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ecademynuh16photoshare.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ecademynuh16photoshare.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>eCademyNUh16PhotoShare</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$eCademyNUh16PhotoShare</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:nuh16photoshare.database.windows.net,1433;Initial Catalog=&quot;PhotoShare NUh16&quot;;Persist Security Info=True;User ID=photoadmin;Password=PhotoShare123.;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="eCademy.NUh16.PhotoShare.Models.ApplicationDbContext, eCademy.NUh16.PhotoShare" MigrationConfiguration="eCademy.NUh16.PhotoShare.Migrations.Configuration, eCademy.NUh16.PhotoShare" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nuh16photoshare.database.windows.net,1433;Initial Catalog="PhotoShare NUh16";Persist Security Info=True;User ID=photoadmin;Password=PhotoShare123.;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>