@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>


<form id="uploadForm" />
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Select a photo to share with the world</h4>
        <hr />
        <div class="form-group">
            <label for="title" class="control-label col-md-2">Title</label>
            <div class="col-md-10">
                <input required id="title" type="text" name="title" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="file" class="control-label col-md-2">File</label>
            <div class="col-md-10">
                <input required id="file" type="file" name="file" class="form-control-static" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Share photo!" class="btn btn-default" />
            </div>
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var uploadForm = $('#uploadForm');
        uploadForm.on('submit', function (e) {
            e.preventDefault();

            var form = new FormData(uploadForm[0]);
            $.post({
                url: '/api/Images',
                data: form,
                contentType: false,
                processData: false,
            }).then(function (response) {
                console.info(response);
                window.location.href = '/Images/Details/' + response;
            });

            return false;
        });
    </script>
}
