@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="logo">
        <img src="~/Content/logo_128x128.png" alt="logo" />
        Photo<strong>Share</strong><em></em>
    </h1>
    <p class="lead">This is the world's biggest photo sharing app <small>(If you have your own definition of big)</small>.</p>
</div>

<div class="image-container well clearfix">
    <!-- ko if: loading -->
    <span class="glyphicon glyphicon-refresh spinning"></span>
    <!-- /ko -->
    <!-- ko if: !loading() -->
    <!-- ko if: photos().length === 0 -->
    <span>There is no uploaded photos</span>
    <!-- /ko -->
    <!-- ko foreach: photos -->
    <div class="grid-image">
        <a data-bind="attr: {href: photoUrl, 'data-title': title}">
            <img data-bind="attr: {src: thumbnailUrl, alt: title}" />
        </a>
    </div>
    <!-- /ko -->
    <!-- /ko -->
</div>

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/Scripts/local/home.js")
}
