body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Rating */
span.rating {
    line-height: 1.428571429; /* Same as Bootstrap's .btn class */
}

span.rating .star {
    color: goldenrod;
    padding: 2px;
    font-size: 1.4em
}

span.rating .star:hover {
    cursor: pointer;
    transform: scale(1.4);
    transition: all 0.2s ease-out;
}

span.rating:hover .star:before {
    color: gold;
    content: "\e006";
}

span.rating .star:hover ~ .star:before {
    content: "\e007";
}

span.rating .info {
    display: none;
}

span.rating .star:hover ~ .info {
    display: inline;
}
