body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Rating */
span.rating {
    line-height: 1.428571429; /* Same as Bootstrap's .btn class */
}

span.rating .star {
    color: goldenrod;
    padding: 2px;
    font-size: 1.4em
}

span.rating .star:hover {
    cursor: pointer;
    transform: scale(1.4);
    transition: all 0.2s ease-out;
}

span.rating:hover .star:before {
    color: gold;
    content: "\e006";
}

span.rating .star:hover ~ .star:before {
    content: "\e007";
}

span.rating .info {
    display: none;
}

span.rating .star:hover ~ .info {
    display: inline;
}


/* Custom styles */
.list-photo {
    text-align: center;
}

.list-photo .username {
    display: block;
}

.list-photo img {
    max-height: 200px;
    max-width: 200px;
}


.grid-image {
    float: left;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.grid-image img {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.grid-image img:hover {
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-transform: rotate(5deg) scale(1.2);
    -o-transform: rotate(5deg) scale(1.2);
    transform: rotate(5deg) scale(1.2);
}

.grid-image a[data-title]:hover:before {
    content: attr(data-title);
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px;
    vertical-align: super;
    color: #ddd;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-box-shadow: inset 0px 0px 139px 38px rgba(0,0,0,0.66);
    -moz-box-shadow: inset 0px 0px 139px 38px rgba(0,0,0,0.66);
    box-shadow: inset 0px 0px 139px 38px rgba(0,0,0,0.66);
    pointer-events: none;
    z-index: 20;
}

.image-container {
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.image-container div {
    display: inline;
}

.user-photos img {
    max-height: 150px;
    margin-right: -4px;
}

#image img.img-responsive {
    margin: 0 auto;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 75%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
    /*padding-bottom: 56.25%;*/ /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}

.iframe-container > * {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}